<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dropdown</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.3"
        integrity="sha384-lVb3Rd/Ca0AxaoZg5sACe8FJKF0tnUgR2Kd7ehUOG5GCcROv5uBIZsOqovBAcWua"
        crossorigin="anonymous"></script>
</head>

<body>
    <section class="section">
        <div class="container">
            <div class="select is-large">
                <select name="language" hx-trigger="change, load" hx-get="/frameworks" hx-target="#frameworks">
                    <option value="Python">Python</option>
                    <option value="Ruby">Ruby</option>
                    <option value="JavaScript">JavaScript</option>
                </select>
            </div>
            <div class="select is-large">
                <select id="frameworks">
                </select>
            </div>
        </div>
    </section>

</body>

</html>